* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body {
  background-image: url('images/fortuneBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #024421;
}

main {
  margin: 5%;
}

.hide {
  display: none;
}

.title1,
.title2 {
  text-align: center;
}

.title2 {
  font-size: 4em;
  margin-top: 0;
}
h1,
p {
  font-family: 'Give You Glory', cursive;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
}

.top {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: center;
}

.charlie {
  width: 100%;
  max-width: 400px;
  position: fixed;
  bottom: 0px;
  margin-left: -10px;
}

.yellow {
  padding: 20px;
  background-color: #fade85;
  color: #fff;
  font-size: 3rem;
  width: 150px;
  text-align: center;
  margin: 2%;
}

.red {
  padding: 20px;
  background-color: #990000;
  color: #fff;
  font-size: 3rem;
  width: 150px;
  text-align: center;
  margin: 2%;
}

.blue {
  padding: 20px;
  background-color: #006699;
  color: #fff;
  font-size: 3rem;
  width: 150px;
  text-align: center;
  margin-top: -20px;
  margin: 2%;
}

.purple {
  padding: 20px;
  background-color: #666699;
  color: #fff;
  font-size: 3rem;
  width: 150px;
  text-align: center;
  margin-top: -20px;
  margin: 2%;
}

#fortune {
  text-align: center;
  padding: 20px;
  background-color: #800020;
  color: white;
  font-family: 'Luckiest Guy', cursive;
  margin: 5%;
}

.message {
	background-color:#D5D717;
	color: #A32857;
	padding: 50px;
	font-family: 'Libre Baskerville';
		overflow-y: hidden;
		max-height: 500px;
		transition-property: all;
		transition-duration: 1s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


/*Fortune Movement Classes========================================*/
.scale-down-center {
	-webkit-animation: scale-down-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
	-webkit-animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-left {
	-webkit-animation: slide-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/*Keyframes=======================================================*/
/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
